<!-- Leaderboards-->
<section class="white-section" id="leaderboards">
  <h2 class="section-heading">Leaderboards</h2>
  <div class="row">
    <div class="leaderboards-column col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>OG Leaderboard</h2>
        </div>
        <div class="card-body">
          <h5>Through Week 54</h5>
          <h5>#|Player  | Score</h5>
          <p>1 | Bob    | 260</p>
          <p>2 | Justin | 259</p>
          <p>3 | John   | 255</p>
          <p>4 | Jason  | 232</p>
        </div>
      </div>
    </div>
    <div class="leaderboards-column col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>OG Leaderboard</h2>
        </div>
        <div class="card-body">
          <h5>Through Week 53</h5>
          <h5>#|Player  | Score</h5>
          <p>1 | Justin | 255</p>
          <p>2 | Bob    | 254</p>
          <p>3 | John   | 251</p>
          <p>4 | Jason  | 226</p>
        </div>
      </div>
    </div>
    <div class="leaderboards-column col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>OG Leaderboard</h2>
        </div>
        <div class="card-body">
          <h5>Through Week 51</h5>
          <h5>#|Player  | Score</h5>
          <p>1 | Justin | 252</p>
          <p>2 | Bob    | 247</p>
          <p>3 | John   | 244</p>
          <p>4 | Jason  | 223</p>
        </div>
      </div>
    </div>
</section>
