<!-- Title -->
<section class="colored-section" id="title">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <% if(auth){%>
          <h4 style="color:green"><%= auth %></h4>
        <% } %>
        <h1 class="big-heading">Track your competitive Euchre stats.</h1>
        <button type="button" class="btn btn-outline-light btn-lg download-button"><a target="_blank" href="https://trickstercards.com">Play Now</a></button>
        <!-- <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-apple"></i> Download</button> -->
        <!-- <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button> -->
      </div>
      <div class="col-lg-4">
        <img class="title-image" src="images/dog-img.png" alt="dog-mockup">
      </div>
    </div>
  </div>
</section>
