<!-- Title -->
<section class="white-section" id="title">
  <div class="title container-fluid">
    <div class="row">
        <div class="col-sm">
        <img class="title-image" src="/images/perfect_hand1.png" />
        </div>
        <div class="col-sm">
        <h1>Track your competitive Euchre stats.</h1>
        </div>
    </div>
  </div>
</section>