<!-- Footer -->
<footer class="colored-section" id="footer">
  <div class="container-fluid">
  <i class="social-icon fab fa-twitter-square"></i>
  <i class="social-icon fab fa-facebook-square"></i>
  <i class="social-icon fab fa-instagram-square"></i>
  <i class="social-icon fas fa-envelope-square"></i></i>
  <p>© Copyright 2022 JRP Euchre Stats</p>
</div>
</footer>


</body>

</html>
