        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
          <div class="dropdown-menu">
            <div class="dropdown-divider">Tools</div>
            <a class="dropdown-item" href="/games/new">New Game</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      </ul>
      </div>
    </nav>
  </div>
</section>
