<!-- Title -->
<section class="white-section" id="title">
  <div class="title container-fluid">
    <div class="row">
        <div class="col-sm">
        <img class="title-image" src="/images/perfect_hand1.png" />
        </div>
        <div class="col-sm">
        <h3 style="color:red">
          <br /><%= CustomErrorMessage %> <br />
          <br /><%= error %> <br />
        </h3>
        </div>
    </div>
  </div>
</section>
