<!-- Title -->
<section class="white-section" id="title">
  <div class="title container-fluid">
    <div class="row">
        <div class="col-sm">
        <img class="title-image" src="/images/perfect_hand1.png" />
        </div>
        <div class="col-sm">
        <h3 style="color:red">Sorry about that...
          <br />we crashed. <br />
          <br />An email has been sent to authorities.<br />
          <br />Thanks for your patience while we sort this out. <br /> 
        </h3>
        </div>
    </div>
  </div>
</section>
