<h1>Azure AD</h1>
<h3>ID Token</h3>
<table>
    <tbody>
        <tr>
            <ul>
              <li><%- JSON.stringify(idTokenClaims); %></li>
            </ul>
        </tr>
    </tbody>
</table>
<br>
<a href="https://aka.ms/id-tokens" target="_blank">Learn about claims in this ID token</a>
<br>
