<h1>Microsoft Graph API</h1>
<h3>/me endpoint response</h3>
<table>
    <tbody>
        <tr>
            <ul>
                <li><%- JSON.stringify(profile); %></li>
              </ul>
        </tr>
    </tbody>
</table>
<br>
